{% extends 'base.html' %}
{% block content %}
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Password</h1>
        <p class="lead fw-normal text-white-50 mb-0">Update user Password..</p>
      </div>
    </div>
  </header>

  <div class="container my-5">
    <form method="post" action="{% url 'update_password' %}">
      {% csrf_token %}
      {% include "form_errors.html" %}
      {% comment %} {{form.as_p}} {% endcomment %}
      <div class="mb-3">
        <label for="username">사용자 이름</label>
        <input type="text" class="form-control" name="username" id="username" value="{{ user.username | default_if_none:'' }}"/>
      </div>
      <br>
      <br>

      <div class="mb-3">
        <label for="password1">비밀번호</label>
        <input type="password" class="form-control" name="new_password1" id="new_password1"/>
      </div>
      <div class="mb-3">
        <label for="password2">비밀번호 확인</label>
        <input type="password" class="form-control" name="new_password2" id="password2" />
      </div>

      <button type="submit" class="btn btn-primary">Update password</button>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
{%endblock content%}
